BorderPane {
    -fx-pref-width: 920;
    -fx-pref-height: 720;
}

GridPane {
	-fx-background-color: #2F2F2F;
}

Label {
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-font-family: "Tahoma";
}

Button {
	-fx-background-color: 
        #000000,
        linear-gradient(#a4a4a4, #4f4f4f),
        linear-gradient(#6d6d6d, #3e3e3e),
        linear-gradient(#626262, #353535);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
 	-fx-cursor: hand;
	-fx-text-fill: white;
	-fx-font-size: 13px;
	-fx-font-family: "Tahoma";
}
